/* news-section Start  */
.news-section{
  background: white;
  width: 1000px;
}
.news-section .news-area{
  margin: 0 auto;
}
.news-section .news-area .headline{
  position: relative;
  margin-left: 45px;
  
}
.news-section .news-area .headline h1{
  max-width: 817px;
  font-size: 30px;
  line-height: 90px;
}
.news-section .news-area .headline p{
 max-width: 150px;
 font-size: 15px;
 font-weight: 700;
}
.news-section .news-area .headline span{
  font-size: 12px;
  color: #272424;
  padding: 20px 0;
  display: block;
}
.news-section .news-area .headline .logo{
  max-width: 120px;
  position: absolute;
  left: 630px;
  bottom: 5px;
}
.news-section .news-area .headline .logo .two{
  padding: 0 10px;
}

.news-section .news-area .img-area{
  position: relative;
  left: 180px;
}

.news-section .news-area .text p{
  width: 620px;
  margin-left: 180px;
}
  
/* news-section End  */

