@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common Css Start */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
   background-color: chocolate;
}

/* Common Css End */



/* Header-Section Start */
.header-section{
   background-color: #FFFFFF;
   padding: 20px 0;
} 
.container{
    max-width: 1320px;
    width: 90%;
    margin: 0 auto;
}
.header-section .header-area{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   
}
.header-section .header-area .logo a img{
   height: 30px;
}
.header-section .header-area .toggle-bar{
    display: none;
}
.header-section .header-area .menu{
   display: flex;
}
.header-section .header-area .menu .navbar-nav{
   display: flex;
}
.header-section .header-area .menu .navbar-nav .nav-item{
   list-style: none;
}
.header-section .header-area .menu .navbar-nav .nav-item .nav-link{
   text-decoration: none;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 23px;
   letter-spacing: 1.5px;
   padding-left: 56px;
   color: #2D2F30;
}
.header-section .header-area .menu .search-bar{
  padding-left: 122px;
  color: #2D2F30;
}

@media(max-width:992px){
    .header-section .header-area .menu{
        display: none;
    }
    .header-section .header-area .toggle-bar{
        display: block;
    }
}

/* Header-Section End */

/*  Hero Section Start */

.hero-container{
   width: 1440px;
}
.hero-section .hero-area{
   margin: 0 auto;
   width: 90%;
}
.hero-section .hero-area .hero-title{
   background: green;
   width: 691px;
   height: 216px;
   font-family: "Playfair Display", serif;
   font-style: normal;
   font-weight: 700;
   font-size: 80px;
   line-height: 120%;
   letter-spacing: 0.02em;
   color: #094B72;
}




/*  Hero Section End */